@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
}

#mainContainer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.imageContainer {
  position: relative;
  transition: transform 0.2s;
  display: inline-block;
  height: 100%;
  width: 100%;
}

#mainContainer.sticky .imageContainer {
  transition: none;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #0d2b36;
}

.previewing #previewPane {
  opacity: 1;
  pointer-events: all;
}

#previewPane {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: opacity 0.3s;
  background: #0d2b36;
}

#previewContainer {
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 70px;
}

img.preview {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  margin: 7px;
  border: 4px solid #0a222b;
  transition: border 0.3s;
}

@media only screen and (max-device-width: 600px) {
  img.preview {
    width: 100px;
    height: 100px;
    margin: 4px;
  }
}

img.preview:hover {
  border: 4px solid #25404a
}

img.preview.active {
  border: 4px solid #3d555e;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50px;
  border: solid white 5px;
  border-top: solid transparent 5px;
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

svg.directioner {
  height: 30px;
  width: 30px;
  transform-origin: 50% 50%;
  transition: transform 0.1s;
}

svg.directioner .arrow {
  fill: none;
  stroke: #aaa;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke, stroke-width 0.3s;
}

svg.directioner:hover .arrow {
  stroke: #fff;
  stroke-width: 13;
}

svg.directioner.spinning {
  transform: scale(1, 0.85);
}

.previewing svg.directioner {
  opacity: 0;
}

svg.marker {
  height: 30px;
  width: 30px;
}

svg.marker rect {
  transition: all 0.4s;
  transform-origin: 50% 50%;
  fill: white;
}

.previewing svg.marker rect {
  rx: 20;
}

:not(.previewing) svg.marker:hover rect {
  transform: scale(1.1);
}

.previewing svg.marker rect:nth-child(1) {
  transform: rotate(-45deg) translate(0, 10px) scale(0.6, 1.5);
}

.previewing svg.marker rect:nth-child(2) {
  transform: rotate(45deg) translate(0, 10px) scale(0.6, 1.5);
}

.previewing svg.marker rect:nth-child(3) {
  transform: rotate(-45deg) translate(0, -10px) scale(0.6, 1.5);
}

.previewing svg.marker rect:nth-child(4) {
  transform: rotate(45deg) translate(0, -10px) scale(0.6, 1.5);
}

div.controls {
  position: fixed;
  left: 50%;
  bottom: 0;
  height: 55px;
  width: 150px;
  margin-left: -75px;
  background: linear-gradient(to bottom, rgba(13,43,54,0.5) 0%,rgba(13,43,54,0.5) 85%,rgba(13,43,54,1) 100%);
  opacity: 0;
  transition: opacity 0.3s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.previewing div.controls, div.controls.show {
  opacity: 1;
}

