doctype html
html
  head
    title Photos
    link(rel="stylesheet", href="res/styles.css")
    script(src="https://use.fontawesome.com/46cfbbad48.js")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  body#index
    div#mainContainer
      each file in files
        div.imageContainer
          img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", data-src=`photos/main/${file}`)
          div.spinner
    div#previewPane
      div#previewContainer
        each file in files
          img.preview(src=`photos/thumbs/${file}`, data-file=file)
    div.controls
      svg.directioner.left(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 100 100")
        path(d="M 70 20 L 30 50", class="arrow")
        path(d="M 30 50 L 70 80", class="arrow")
      svg.marker(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 100 100")
        rect(x="15", y="15", width="30", height="30", rx="5", ry="5")
        rect(x="55", y="15", width="30", height="30", rx="5", ry="5")
        rect(x="55", y="55", width="30", height="30", rx="5", ry="5")
        rect(x="15", y="55", width="30", height="30", rx="5", ry="5")
      svg.directioner.right(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 100 100")
        path(d="M 30 20 L 70 50", class="arrow")
        path(d="M 70 50 L 30 80", class="arrow")
    script(src="res/control.js", type="text/javascript")