doctype html
html
  head
    title Photos
    link(rel="stylesheet", href="res/styles.css")
  body#index
    div#mainContainer
      img#main
    div#scrollHouse
      each file in files
        img(src=`photos/thumbs/${file}`, data-file=file)

    div#spinner
    script(src="res/control.js", type="text/javascript")